extends layout

block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title.has-text-centered
          | What's the weather like?
  section.section
    .container
      .columns.is-centered
        .column.is-half
          form(method="POST")
            .field.has-addons
              .control.is-expanded
                input.input.is-primary.is-large(id="search-box" type="text" name="city" data-city-search='' placeholder="Enter a city..." required="")
              .control
                button.button.is-primary.is-large(type='submit') Search
  section.section
    h2.title.has-text-centered Current Weather
    .container
      .columns.is-centered
        if image
          .box.has-background-primary
            article.media
              figure.media-left
                div.is-64x64
                i(class=`fa-2xl fa-solid ${image}`)
              .media-content
                .content
                  p.title.has-text-black #{cityName}
                  p.subtitle.is-4.has-text-black #{weatherConditions}
                  p.subtitle.has-text-black #{temperature}
  section.section
    h2.title.has-text-centered Your Location
    .columns.is-centered
      #mapid

  script.
    let map = L.map("mapid").setView([#{lat}, #{lon}], 8)
    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}", {
      attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
      tileSize: 512,
      maxZoom: 18,
      zoomOffset: -1,
      id: "mapbox/streets-v11",
      accessToken: '#{MAPBOX_ACCESS_TOKEN}'
    }).addTo(map);
    let marker = L.marker([#{lat}, #{lon}]).addTo(map);
    marker.bindPopup("#{markerDescription}").openPopup();

